body {
    /* margin: 縦の余白　横の余白*
    /* auto: 自動余白を決定*/ 
    margin: 0 auto; 
    width: 800px; 
    align-content: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
    color: green; 
}

#horizontalBox {
    display: flex; 
    flex-direction: column;

    justify-content: center;

}

img {
    width: 240px;
    height: 240px; 
}

a {
    font-size: 24pt;
}
